.roomtype {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  h4 {
    font-size: $h4;
    font-weight: 700;
    margin-bottom: 0;
  }
  p {
    font-size: $h5;
    color: rgba(51, 51, 51, 1);
    font-weight: 700;
  }
}
.text {
  text-align: center;
  margin: 1.5em;

  h4 {
    font-size: $h4;
    font-weight: 650;
    margin: 0;
    @media (max-width: 425px) {
      font-size: 25px;
    }
  }
  p {
    font-size: $body1;
    color: rgba(102, 102, 102, 1);
    @media (max-width: 425px) {
      font-size: 16px;
      line-height: 1.5;
    }
  }
}
