.roomtype {
    h4 {
        font-size: $h4;
        font-weight: 700;
        margin-bottom: 0;
    }
    p {
        font-size: $h5;
        color: rgba(51, 51, 51, 1);
        font-weight: 700
    }
}