.blog-item {
  img {
    width: 50vw;
    height: auto;
    border-radius: 10px;
  }
  .blog-info {
    margin: 1.5em 0;
    color: rgba(159, 159, 159, 1);
    display: flex;
    align-items: center;
    span {
      margin-right: 3em;
      font-size: 15px;
      display: flex;
      align-items: center;
      img {
        width: 1.6em;
        height: 1.3em;
        padding-right: 5px;
      }
    }
  }
  .blog-title {
    font-size: 30px;
    margin: 0;
  }
  .blog-content {
    max-width: 50vw;
    text-align: justify;
    line-height: 1.7;
    color: rgba(159, 159, 159, 1);
  }

  button {
    font-size: 16px;
    padding: 0.7em 0;
    margin: 0 0 2em 0;
    background: linear-gradient(#333, #333) no-repeat center bottom;
    background-size: 80% 2px;
    border: none;
  }

  @media (max-width: 425px){
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
    .blog-content {
      max-width: 100vw;
    }

    .blog-info {
      span {
      margin-right: 1em;
    }
    }
  }
}
