.recent-post {
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  h3 {
    margin: 0;
    font-size: 22px;
  }

  .post-item {
    display: flex;
    img {
      width: 80px;
      height: 80px;
      border-radius: 10px;
      @media (max-width: 768px) {
          width: 90px;
          height: 90px;
        }
    }
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 1em;

      p {
        width: 65%;
        margin: 0;
        line-height: 1.5;
        padding-bottom: 5px;

        @media (max-width: 768px) {
          width: 100%;
          padding: 0;
        }
      }
      span {
        color: $text-light;
        font-size: 15px;
      }
    }
  }

  @media (max-width: 425px) {
  }
}
