.navigation {
  .nav__list {
    display: flex;
    list-style: none;
    gap: 4.5em;
    padding: 0;

    @media (max-width: 1024px) {
      display: flex;
      list-style: none;
      gap: 3em;
    }
    @media (max-width: 768px){
        display: none;
        width: 0px
    }
    @media (max-width: 425px){
        display: none;
        width: 0px
    }
    

    a {
      text-decoration: none;
      color: black;
      font-weight: 550;
    }
  }
}
