.navigation {
    .nav__list {
        display: flex;
        list-style: none;
        gap: 40px;

        a {
            text-decoration: none;
            color: black;
            font-weight: 550;
        }
    }
}