.page-header {
  width: 100%;
  height: 40vh;
  background-image: url("../../../public/pageheader.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.page-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}
.header-content {
  position: relative;
  z-index: 2;

  .breadcrumb {
    span {
      a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 20px
      }
    }
  }
}

