.products-section {
  width: 90%;
  padding: 1em 0 2em 0;
  margin: 0 auto;

  h2 {
    text-align: center;
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 25px;

    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      // grid-template-rows: repeat(2, auto);
    }
    @media (max-width: 425px){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .show-more-container {
    text-align: center;
    margin: 2em 0;

    button {
      padding: 1em 3em;
      font-size: $h6;
      font-weight: 600;
      color: $text-banner;
      border: 3px solid $text-banner;
    }
  }
}
