.inspiration-content {
    width: 33%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h2 {
        font-size: $h2;
        margin: 0;
    }
    p {
        font-size: $h6;
        line-height: 1.5;
    }
    button {
        color: white;
        background: $text-banner;
        width: 35%;
        padding: 1em 0;
        font-size: 16px;
        font-weight: 600
    }
}