.inspiration-content {
    // width: 30%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h2 {
        font-size: $h2;
        margin: 0;
    }
    p {
        font-size: $h6;
        line-height: 1.5;
    }
    button {
        color: white;
        background: $text-banner;
        width: 35%;
        padding: 1em 0;
        font-size: 16px;
        font-weight: 600
    }
    @media (max-width: 1024px){
        h2 {
            font-size: $h4
        }
    }

    @media (max-width: 425px){
        h2 {
            font-size: 25px;
            width: 100%
        }
    }
}