.sample {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img {
    width: 100%;
    height: 90%;
  }
  .sample-tags {
    position: absolute;
    z-index: 2;
    left: 6%;
    bottom: 9%;
    width: 52%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
    text-align: center;
    p {
      font-size: $h6;
    }
    h4 {
      font-size: $body3;
      margin: 0;
    }
  }
  button {
    background: $text-banner;
    position: absolute;
    z-index: 3;
    bottom: 9%;
    right: 27%;
    width: 15%;
    height: 7%
  }
}
