.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%; 

  h2 {
    font-size: 30px; 
  }

  p {
    font-size: 16px;
    text-align: center;
    color: rgba(159, 159, 159, 1);
    line-height: 1.5;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2em;

    .contact-data {
      list-style: none;
      width: 90%; 

      li {
        margin: 1.5em 0;
        width: 100%;

        .contact-content {
          h3 {
            margin: 0.5em 0;
          }
          p {
            text-align: left;
            line-height: 1.5;
            margin: 0;
          }
        }
      }
    }

    .contact-form {
      list-style: none;
      width: 100%;

      li {
        display: flex;
        flex-direction: column;
        margin: 1.5em 0;
        gap: 1em;

        input,
        textarea {
          width: 100%; 
          padding: 1em;
          border-radius: 10px;
          border: 1px solid rgba(159, 159, 159, 1);
          box-sizing: border-box;
        }

        input {
          height: 8vh;
        }
        textarea {
          height: 15vh;
        }
      }
    }

    button {
      background: $text-banner;
      width: 100%;
      height: 3.5em;
      color: white;
      border-radius: 7px;
    }
  }

  // Tablet
  @media (min-width: 426px) and (max-width: 768px) {
    margin: 10%;

    h2 {
      font-size: 34px;
    }

    .contact-info {
      flex-direction: row;
      gap: 3em;

      .contact-data {
        max-width: 38%;
      }

      .contact-form {
        li input,
        li textarea {
          width: 100%;
        }
      }

      button {
        width: 10em;
      }
    }
  }

  // Desktop
  @media (min-width: 769px) {
    margin: 0 15%;

    h2 {
      font-size: 36px;
    }

    .contact-info {
      flex-direction: row;
      gap: 7em;

      .contact-data {
        max-width: 25%;
      }

      .contact-form {
        li input,
        li textarea {
          width: 40vw;
        }
      }

      button {
        width: 14em;
      }
    }
  }
}
