.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15%;
  h2 {
    font-size: 36px;
    margin-bottom: 0;
  }
  p {
    font-size: 16px;
    text-align: center;
    color: rgba(159, 159, 159, 1);
    line-height: 1.5
  }

  .contact-info {
    display: flex;
    flex-direction: row;
    gap: 7em;

    .contact-data {
      list-style: none;
      max-width: 20%;

      li {
        margin: 2.5em 0;
        .contact-content {
            h3 {
                margin: 0.5em 0;
            }
          p {
            text-align: left;
            line-height: 1.5;
            margin: 0;
          }
        }
      }
    }
    
    .contact-form {
        list-style: none;
        li {
            display: flex;
            flex-direction: column;
            margin: 1.5em 0;
            gap: 1em;

            input {
                width: 30vw;
                height: 8vh;
                padding: 1em;
                box-sizing: border-box;
                border-radius: 10px;
                border: 1px solid rgba(159, 159, 159, 1);
            }
            textarea {
                height: 15vh;
                border-radius: 10px;
                border: 1px solid rgba(159, 159, 159, 1);
                padding: 1em;
                box-sizing: border-box;
            }
        }
    }
    button {
        background: $text-banner;
        width: 14em;
        height: 3.5em;
        color:white;
        border-radius: 7px;
    }
  }
}
