.footer {
  span {
    font-size: $h6;
    color: $text-light;
    display: inline-block;
    margin-bottom: 2.5em;
  }
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
  .footer-top {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
    margin-bottom: 2.5em;

    .footer-brand {
      flex: 1 1 20px;
      h5 {
        font-size: $h5;
        padding-bottom: 1em;
        margin: 0;
      }
      p {
        width: 90%;
        line-height: 1.8;
        color: $text-light;
        margin-bottom: 1.5em;
      }
    }

    .footer-section {
      margin: 0 4em;
      ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2.5em;

        a {
          text-decoration: none;
          color: black;
        }
        li {
          font-weight: 600;
        }
      }
      @media (max-width: 1024px) {
        margin: 0 3em;
      }

      .help {
        @media (max-width: 1024px){
          ul {
            gap: 1.5em
          }
        }
      }

      @media (max-width: 768px){
        display: flex;
        flex-direction: row;
        gap: 1em;
      }
      @media (max-width: 425px){
        display: flex;
        flex-direction: column;
        gap: 1em;

        ul {
          display: flex;
          gap: 1.5em
        }
      }

      @media (max-width: 425px){
        margin: 1em 0 !important;
        span {
          margin-bottom: 0;
        }
        ul {
          li {
            max-width: 20%;
          }
        }
      }
    }

    .footer-newsletter {
      @media (max-width: 768px){
        display: flex;
        flex-direction: row;
        gap: 1em;
      }
      span {
        padding-top: 4px;
      }
      .subscribe-form {
        input {
          border: none;
          outline: none;
          border-bottom: 1px solid $text-light;
          padding-bottom: 0.4em;
        }
        button {
          border: none;
          outline: none;
          border-bottom: 1px solid $text-light;
          padding-bottom: 0.4em;
          margin: 0 1em;
          background: white;
          padding: 0.4em;
          font-weight: 600
        }
      }
      @media (max-width: 425px){
        display: flex;
        flex-direction: column;

        span {
          margin: 0;
        }
      }
    }
  }

  .footer-bottom {
    padding: 2em 0;
    border-top: 1px solid $text-light;
  }

  @media (max-width: 768px){
    .footer-top {
      display: flex;
      flex-direction: column;

      .footer-brand {
        h5 {
          padding-bottom: 0.5em;
        }
        p {
          padding-bottom: 0.5em;
          margin: 0;
        }
      }

      .footer-section {
        
        margin: 0;
        ul {
          display: flex;
          flex-direction: row;
          
        }
      }
    }
  }
}
