.footer {
  span {
    font-size: $h6;
    color: $text-light;
  }
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
    }
  }
  .footer-top {
    display: flex;
    flex-direction: row;

    .footer-brand {
      h5 {
        font-size: $h5;
        margin: 0;
      }
      p {
        width: 90%;
        line-height: 1.8;
        color: $text-light;
      }
    }
  }
}
