.inspiration {
    height: 85%;
    background: $background-inspiration;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    overflow: hidden; 

    @media (max-width: 425px){
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding-right: 5%;
    }
}