.maskbanner {
  width: 40%;
  height: 60%;
  background: $background-banner;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  right: 8.5%;
  bottom: 17%;
  display: flex;
  justify-content: center;

  @media (max-width: 425px) {
    position: static;
    width: 100%;
    height: auto;
    margin-top: 1em;

    .content {
      margin-bottom: 1em;
      p {
        width: 90%
      }
    }
  }
}
.content {
  width: 90%;
  height: 75%;
  margin-top: 3em;
  box-sizing: border-box;

  span {
    letter-spacing: 3px;
    font-size: $h6;
    font-weight: 500;
    margin-bottom: 1em;
  }

  h1 {
    font-size: $h1;
    color: $text-banner;
    margin: 0.3em 0;
  }
  p {
    font-size: $body2;
    margin: 1.5em 0;
  }

  button {
    font-size: $h6;
    font-weight: 650;
    background: $text-banner;
    width: 40%;
    padding: 1.6em;
  }

  @media (max-width: 1024px) {
    margin-top: 1em;
    h1 {
      font-size: 40px;
    }
    p {
      margin: 0.5em 0;
      line-height: 1.8;
    }
    button {
      padding: 0.8em;
    }
  }
  @media (max-width: 768px) {
    margin-top: 0.8em;
    span {
      display: block;
      margin-bottom: 5px;
    }
    h1 {
      font-size: 25px;
      margin: 0;
    }
    p {
      font-size: 14px;
      margin-top: 0;
    }
  }
}
