// Colors
$primary: white;
$secondary: rgba(255, 243, 227, 1);
$text-primary: white;
$text-light: rgba(255,255,255,0.7);

// Font sizes
$h1: 52px;
$h2: 40px;
$h3: 36px;
$h4: 32px;
$h5: 24px;
$h6: 16px;
$body1: 20px;
$body2: 18px;

// Spacing
$sp-sm: 8px;
$sp-md: 16px;
$sp-lg: 32px;

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

