// Colors
$primary: white;
$secondary: rgba(255, 243, 227, 1);
$background-item: rgba(244, 245, 247, 1);
$background-banner: rgba(255, 243, 227, 1);
$background-inspiration: rgba(252, 248, 243, 1);
$text-light: rgba(159, 159, 159, 1);
$text-banner: rgba(184, 142, 47, 1);


// Font sizes
$h1: 52px;
$h2: 40px;
$h3: 36px;
$h4: 32px;
$h5: 24px;
$h6: 16px;
$body1: 20px;
$body2: 18px;
$body3: 28px;

// Spacing
$sp-sm: 8px;
$sp-md: 16px;
$sp-lg: 32px;

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;

