@import "./global.scss";
@import "./variable";

//component
@import "../component/header/Header.scss";
@import "../component/footer/Footer.scss";
@import "../component/products/item/ProductCart.scss";
@import "../component/products/ProductList.scss";

//modal
@import "../component/modal/component/CartItemList.scss";
@import "../component/modal/component/CartSummary.scss";
@import "../component/modal/component/cartstyle/CartActions.scss";
@import "../component/modal/component/CartItem.scss";

@import "../component/likemodal/LikeModal.scss";

//header
@import "../component/header/component/actions/HeaderActions.scss";
@import "../component/header/component/navigation/Navigation.scss";
@import "../component/header/component/logo/Logo.scss";
@import "../component/modal/CartModal.scss";

//home
@import "../pages/home/component/banner/maskbanner/MaskBanner.scss";
@import "../pages/home/component/roomtype/RoomType.scss";
@import "../pages/home/component/roomtype/item/RoomItem.scss";
@import "../pages/home/component/banner/Banner.scss";
@import "../pages/home/component/inspiration/Inspiration.scss";
@import "../pages/home/component/inspiration/component/InspirationContent.scss";
@import "../pages/home/component/inspiration/component/Sample.scss";
