@import "./global.scss";
@import "./variable";

//component
@import "../component/header/Header.scss";
@import "../component/footer/Footer.scss";
@import "../component/products/item/ProductCart.scss";
@import "../component/products/ProductList.scss";
@import "../component/drawer/MobileDrawer.scss";
@import "../component/pageheader/PageHeader.scss";
@import "../component/service/Service.scss";

//modal
@import "../component/modal/component/CartItemList.scss";
@import "../component/modal/component/CartSummary.scss";
@import "../component/modal/component/cartstyle/CartActions.scss";
@import "../component/modal/component/CartItem.scss";

//like modal
@import "../component/likemodal/WishListModal.scss";
@import "../component/likemodal/component/WishList.scss";
@import "../component/likemodal/component/WishItem.scss";

//header
@import "../component/header/component/actions/HeaderActions.scss";
@import "../component/header/component/navigation/Navigation.scss";
@import "../component/header/component/logo/Logo.scss";
@import "../component/modal/CartModal.scss";

//home
@import "../pages/home/component/banner/maskbanner/MaskBanner.scss";
@import "../pages/home/component/roomtype/RoomType.scss";
@import "../pages/home/component/roomtype/item/RoomItem.scss";
@import "../pages/home/component/banner/Banner.scss";
@import "../pages/home/component/inspiration/Inspiration.scss";
@import "../pages/home/component/inspiration/component/InspirationContent.scss";
@import "../pages/home/component/inspiration/component/Sample.scss";
@import "../pages/home/component/inspiration/component/Slider.scss";

//shop 

//productdetail
@import "../pages/productdetail/ProductDetail.scss";
@import "../pages/productdetail/component/RelatedProduct.scss";

//page cart
@import "../pages/cart/Cart.scss";

//page contact
@import "../pages/contact/Contact.scss";