.billing-form {
  // width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;

  .billing-name {
    display: flex;
    gap: 4em;
    width: 100%;
    li {
        width: 45%;
    }

    @media (max-width: 425px){
        display: flex;
        gap: 2em;
    }
  }
  li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    label {
        margin-bottom: 0.8em;
    }
  }
  input {
    height: 4em;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
    padding: 1em;
    box-sizing: border-box;
    font-size: 16px;
  }
  select {
    height: 5em;
    border-radius: 10px;
  }
}
