.product-detail-container {
  // display: flex;
  // flex-direction: column;
  .product-detail-page {
    // width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    padding: 50px;

    .images-section {
      display: flex;
      gap: 20px;

      .thumbnail-list {
        display: flex;
        flex-direction: column;
        gap: 15px;
        img {
          width: 80px;
          height: 80px;
          border-radius: 10px;
          object-fit: cover;
        }
      }

      .main-image {
        img {
          width: 400px;
          height: 450px;
        }
      }

      @media (max-width: 425px) {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;

      .images-section {
        margin: 0 auto;
        .thumbnail-list {
          img {
            width: 100px;
            height: 100px;
          }
        }
        .main-image {
          img {
            width: 450px;
            height: 500px;
          }
        }
      }
    }
  }
}
