.product-item {
  position: relative;
  background: $background-item;
  overflow: hidden;
  transition: all 0.3s ease;

  .product-image-container {
    height: 45vh;
    background: $text-light;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .product-badges {
      position: absolute;
      z-index: 1;
      top: 20px;
      right: 20px;
      width: 2.8em;
      height: 2.8em;

      .discount {
        width: 100%;
        height: 100%;
        background: rgba(233, 113, 113, 1);
        margin: 0 auto;
        border-radius: 50%;
        display: grid;
        place-items: center;
      }
      .new {
        width: 100%;
        height: 100%;
        background: #2ec1ac;
        border-radius: 50%;
        display: grid;
        place-items: center;
      }
    }
  }
  .product-info {
    padding: 0 0 1em 1em;
    .subtitle {
      color: rgba(137, 137, 137, 1);
    }
    .price-box {
      display: flex;
      gap: 1em;
      .current-price {
        font-size: $body1;
        font-weight: 600;
        font-size: 18px;
      }
      .old-price {
        text-decoration: line-through;
        font-size: $h6;
        color: rgba(176, 176, 176, 1);
        font-size: 15px;
      }
    }
  }

  /* Overlay bao phủ toàn bộ diện tích của .product-item */
  .product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(58, 58, 58, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 10;

    .add-to-cart-btn {
      width: 80%;
      height: 3em;
      background: white;
      font-size: 16px;
      color: $text-banner;
      font-weight: 600;
    }

    .product-actions {
      .action-item {
        background: transparent;
        color: white;
        border: none;
        transition: all 0.3s ease;
        cursor: pointer;

        .liked {
          background: red;
        }
      }
    }
  }
}

.product-item:hover .product-overlay {
  opacity: 1;
  visibility: visible;
}
