.product-item {
  position: relative;
  background: $background-item;
  overflow: hidden;
  transition: all 0.3s ease;

  .product-image-container {
    height: 45vh;
    background: $text-light;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .product-info {
      padding: 16px;
    }

    .product-badges {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      width: 3em;
      height: 3em;

      .discount {
        width: 100%;
        height: 100%;
        background: rgba(233, 113, 113, 1);
        margin: 0 auto;
        border-radius: 50%;
        display: grid;
        place-items: center;
      }
      .new {
        width: 100%;
        height: 100%;
        background: #2ec1ac;
        border-radius: 50%;
        display: grid;
        place-items: center;
      }
    }
  }

  /* Overlay bao phủ toàn bộ diện tích của .product-item */
  .product-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /* Phủ kín xuống tận đáy card */
    background-color: rgba(58, 58, 58, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    /* Trạng thái mặc định: Ẩn */
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 10;

    .add-to-cart-btn {
      width: 80%;
      height: 3em;
      background: white;
      font-size: 16px;
      color: $text-banner;
      font-weight: 600;
    }
  }
}

/* Hiệu ứng Hover */
.product-item:hover .product-overlay {
  opacity: 1;
  visibility: visible;
}

.product-info {
  .subtitle {
    color: rgba(137, 137, 137, 1);
  }
  .price-box {
    .current-price {
      font-size: $body1;
      font-weight: 600;
    }
    .old-price {
      text-decoration: line-through;
      font-size: $h6;
      color: rgba(176, 176, 176, 1);
    }
  }
}
