.shopping-cart-modal {
  height: 70vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cart-items-list {
  flex: 1;
  overflow-y: auto;
  padding-right: 8px;
  max-height: 65vh;
  scroll-behavior: smooth;
}

.cart-items-list::-webkit-scrollbar {
  width: 6px;
}

.cart-items-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.cart-items-list::-webkit-scrollbar {
  display: none;
}
