.cart-item {
  width: 100%;
  height: 21%;
  padding: 0.5em;   
//   margin-bottom: 1em;
  display: flex;
  align-items: center;        
  justify-content: space-between;
  gap: 0.75em;
  border-bottom: 1px solid #eee;

  img {
    width: 5em;
    height: 5em;            
    border-radius: 8px;
    object-fit: cover;
  }

  .item-info {
    flex: 1;        
    display: flex;
    flex-direction: column;
    gap: 6px;

    .item-name {
      font-size: 1rem; 
      font-weight: 600;
    }

    .item-meta {
      display: flex;
      flex-direction: row;
      gap: 10px;
      font-size: 0.9rem;
      color: #555;

      .item-price {
        font-size: 0.95rem;
        color: rgba(184, 142, 47, 1);
        font-weight: bold;
      }
    }
  }

  button {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: rgba(159, 159, 159, 1);
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
