.related-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin: 0 5%;

  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 425px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
