.blog-container {
    margin: 5em 7.5% 0 7.5%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px){
        display: flex;
        flex-direction: row;
        gap: 2.5em;
    }
    @media (max-width: 425px){
        display: flex;
        flex-direction: column
    }
}