.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.modal-content {
  background: #fff;
  padding: 2em;
  height: 100vh;
  width: 24%;
  text-align: center;

  .heading-cart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
     h5 {
        font-size: $h5;
        font-weight: 650;
        margin: 0;
        width: 70%;
     }
  }
}
