.header {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 1024px) {
    height: 80px;
    display: flex;
  }

  .btn-toggle {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  @media (max-width: 425px) {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }
}
